.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
}

button {
  display: block;
  border: 1px solid #faebd7;
  border-radius: 3px;
  outline: none;
  background-color: #eeddcc;
  padding: 15px 50px;
  box-shadow: 6px 6px 14px -2px rgba(0, 0, 0, 0.63);
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: all 0.4s;
  color: rgb(83, 71, 71);
}

button:active {
  transform: translateY(-5px);
}

img {
  display: block;
  width: 600px;
  height: 400px;
  object-fit: cover;
}
